body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #37B7C3;
    padding: 10px 20px;
    color: white;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-link {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover {
    color: #04437C;
    transition-duration: 0.3s;
}

.welcome-msg {
    margin-right: 20px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #088395;
    color: white;
    margin-bottom: 20px;
}

.search-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.search-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, input[type="date"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-btn {
    width: 100%;
    padding: 10px;
    background-color: #071952;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-btn:hover {
    background: #04437C;
    transition-duration: 0.3s;
}
